/* Custom properties / variables */
:root {
    --primary-color: #1c1d1f;
    --secondary-color: #f43f5e;
    --text-primary: #fff;
    --text-secondary: #d1d7dc;
}

/* Base reset */
* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    /* Set font size for easy rem calcs */
    /* (100% / 16px) * 10px = 62.5% */
    /* now 1rem is 10px */
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* Base styles */
body {
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--text-primary);
}
